# Arquivos de Build e Dependências do Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log
logs/

# Arquivos de IDE
.idea/
*.iml
*.iws
.classpath
.project
.settings/
.DS_Store

# Arquivos gerados pelo sistema operacional
Thumbs.db
ehthumbs.db
Desktop.ini

# Arquivos de configuração de execução do Spring Boot
.spring-boot-devtools.properties

# Arquivos temporários e de cache
*.tmp
*.swp
*~

# Arquivos de ambiente com informações sensíveis
.env
*.properties

# Relatórios de build e testes
/build/
/out/
/coverage/
/view/target/
